<div class="block block-fill-height">

  <%= render 'application/header' %>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-inverse card-primary mb-3 mt-4">
          <div class="card-block">
            <div id='map' style='width: 100%; height: 250px;'></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card mt-2 text-center">
          <div class="card-block">
            <h3>7331 E Bonita Dr. <br>
            Scottsdale, AZ 85250</h3>
            <p>Is this the correct address?</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-sm-12">
        <div class="card text-center">
          <div class="card-block">
            <a href="basics.html" class="btn btn-success">That's Mine</a>
            <button class="btn btn-secondary ">Edit Address</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
